# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build.gradle
.gradle
gradlew.bat
gradle/*

# other
eclipse
run
*.txt
build*
logs*
config*
usercache.json
usernamecache.json
saves*
